extends layout

block content
  h1= title
  p Welcome to #{title}
  
  doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../src/css/filters_styles.css')
  body
    .filters-block
      ul.filters-list
        li eventtag1
        li eventtag2
        li eventtag3
        li eventtag4
        li eventtag5
