.filters-list li {
  		min-height: 30px;
  		min-width:  150px;
  		padding: 5px 25px;
  		list-style: none;
  		display: inline-block;
  		border: 1px solid grey;
  		border-radius: 3px;
  		background: orange;
  		font-size: 1.5em;
  	}
